**/cudnn_data/
*.egg-info/
__pycache__/
.vspreview/
*patch*py
automate.cmd
*episodes*.txt

# IDE files #
*.komodoproject
.komodotools/
*.log

# Memes get written here #
test.vpy

# Workraw Stuff #
*wraw*.vpy
*workraw*.vpy
