**/cudnn_data/
*.egg-info/
__pycache__/
.vspreview/
*patching.vpy # Video patches
*patching.py # Audio or batching patches
automate.cmd # Running 'em all
*episodes*.txt

# IDE files #
*.komodoproject
.komodotools/
*.log

# Memes get written here #
test.vpy

# Workraw Stuff #
*wraw*.vpy
*workraw*.vpy
